body {
  font-family: proxima-nova, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 100;
  padding: 0 0 80px;
}

a,
a:active,
a:visited {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.625rem;
  margin-top: 0;
}

strong {
  font-weight: 700;
}

/* Top Header Bar */
header {
  background-color: #ffff00;
  margin-bottom: 65px;
  padding: 26px 20px 22px 20px;
  text-align: center;
}

header img {
  width: 96%;
  height: auto;
}

@media screen and (min-width: 768px) {
  header {
    margin-bottom: 150px;
    padding: 21px 20px 19px 20px;
    text-align: right;
  }

  header img {
    width: auto;
    height: 19px;
  }
}

/* Logo */
.logo {
  margin: 0 18px 10px 18px;
}

.logo img {
  height: auto;
  width: 86%;
}

@media screen and (min-width: 768px) {
  .logo {
    margin: 0 0 40px 100px;
  }

  .logo img {
    height: 85px;
    width: 380px;
  }
}

/* Main */
.main {
  margin: 0 18px;
}

.lead {
  color: #666;
  font-size: 1.375rem;
  line-height: 2.125rem;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .main {
    margin-left: 211px;
    max-width: 572px;
  }

  .lead {
    font-size: 1.75rem;
    margin-bottom: 90px;
  }
}

/* Signup Form */
.signup {
  margin-bottom: 50px;
  position: relative;
}

.signup .form-group {
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.signup .field-group {
  float: left;
  width: 100%;
}

input[type="email"] {
  border: none;
  padding: 8px 1px;
  width: 100%;
}

.submit-button {
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}

.submit-button > input[type="submit"] {
  background-image: url(../images/submit.png);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 40px;
  text-indent: -999em;
  width: 40px;
}

@media screen and (min-width: 768px) {
  .signup {
    margin-bottom: 77px;
    width: 480px;
  }
}

/* Inline Lists */
ul {
  padding-left: 0;
  list-style: none;
}

/* Footer */
footer .icon {
  margin-right: 13px;
  vertical-align: middle;
}

footer ul > li {
  font-size: 1.375rem;
  margin-bottom: 15px;
}

footer ul p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  footer ul > li {
    font-size: 1.25rem;
  }
}

/* Media Object */
.media,
.media-body {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

.media-figure {
  float: left;
  margin-right: 10px;
}

.media-figure > img {
  display: block;
}

/* Utility */
.clearfix:after {
 content: " "; /* Older browser do not support empty content */
 clear: both;
 display: block;
 height: 0;
 visibility: hidden;
}

.collapsible {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s linear;
}

.collapsible.active {
  max-height: 800px;
}

.hidden {
  display:none
}

/* Input placeholder text */
::-webkit-input-placeholder { color: #ccc; }
:-moz-placeholder { color: #ccc; } /* Firefox 18- */
::-moz-placeholder { color: #ccc; } /* Firefox 19+ */
:-ms-input-placeholder { color: #ccc; }
